<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414025728654-q6ogf7aa0bq7vmrpvcu2k2t2e3u0dtqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414025728654-q6ogf7aa0bq7vmrpvcu2k2t2e3u0dtqr</string>
	<key>API_KEY</key>
	<string>AIzaSyDv6NmkGCWRUOxyNLG7WtP-tEflig7MN4U</string>
	<key>GCM_SENDER_ID</key>
	<string>414025728654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leopard.leafy</string>
	<key>PROJECT_ID</key>
	<string>leafy-b24e4</string>
	<key>STORAGE_BUCKET</key>
	<string>leafy-b24e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414025728654:ios:e9eb9e429c92fe2db5ffdf</string>
</dict>
</plist>